*{
    margin:0;
    padding:0;
}

body{
    font-family:'Cinzel', serif;
}
.container-fluid
{
    position: absolute;
    margin-left:30%;
    margin-top:40px;
    width:70px !important;
    background-color:#FF5733;
    text-align:center;
    display:flex;
    justify-content: space-between;
    opacity:0.9;
    box-sizing:border-box;
}
.container-fluid .wrapper
{
    position:relative;
    padding:30px;
    margin:30px;
    
}
.container-fluid form label{
    font-weight:bold;
    font-style:italic;
}
.container-fluid form input{
    font-weight:bold;
    font-style:italic;
    padding:5px;
    margin:5px;
}

.container-fluid form input[type="submit"]
{
    border-radius:40px;
    padding:5px 10px;
    background-color:#1F9439;
    width:50%;
}