*{
    margin:0;
    padding:0;
}
body{
    font-family:'Cinzel', serif;
}
.container
{
    position: absolute;
    margin-left:35%;
    margin-top:40px;
    width:300px;
    background-color:lightcoral;
    padding:50px;
    border-radius:50px;
    font-weight:bold;
}
.container form input{
    padding:5px;
    border-radius:10px;
    border-color:lightcoral;
}

.container form input[type="submit"]
{
    padding:10px 13px;
    background:#1F7594 ;
    color:white   
}
.container form input:hover
{
    border:none;
}